<style media="screen">
  .float_left {
    float:left;
  }
</style>
<br><br><br><br>

<div class="ribbon right red">
  <a href="http://github.com/ytbryan/chart">Fork me on GitHub</a>
</div>

<div class="center">
  <div class="">
    <span>
      <%= pie :pie_id_2, @pieSize, @pieData %>
      <%= radar :radar_id_2, @radarSize, @radarData %>
    </span>

    <span class="float_left">
      <%= horizontal_grouped_bar "horizontal_grouped_bar2", @size1, @horizontal_grouped_bar_array%>
    </span>
    <span class="float_left">
      <%= discrete_bar "first_discrete_bar2" , @size1, @discete_bar_array %>
    </span>
  </div>

  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <h1 style="text-align:center;">Chart</h1>

  <p>
    Add <span>
      gem 'chart'
    </span> to Gemfile.
  </p>
  <pre class="brush: ruby">
    gem 'chart'
  </pre>

  <p>
    Add specific javascript <span>
      gem 'chart'
    </span> to application.js.
  </p>

  <pre class="brush: ruby">
    //= require turbolinks
    //= require chart
    //= require nvd3
  </pre>

  <p>
    Add css for nvd3 to application.css.
  </p>

  <pre class="brush: ruby">
    *= require nvd3
  </pre>

  <h1 style="text-align:center;">Examples</h1>

  <%= horizontal_grouped_bar "horizontal_grouped_bar", @size1, @horizontal_grouped_bar_array%>

  <pre class="brush: ruby">
    // horizontal_grouped_bar <%# horizontal_grouped_bar "horizontal_grouped_bar", @size1 %>
  </pre>

  <%= discrete_bar "first_discrete_bar" , @discrete_bar_size, @discete_bar_array %>

  <pre class="brush: ruby">
    // discrete_bar
  </pre>

  <%= boxplot "boxplot", @size1, @data_array_for_boxplot %>

  <pre class="brush: ruby">
    // boxplot
  </pre>

  <div class="">
    <%= bar "something", @bar_size, @data %>
    <%= bar "somethingelse", @bar_size,  @data2 %>
    <%= bar "somethingelse2", @bar_size,  @data3 %>
  </div>

  <pre class="brush: ruby">
    // simple bar chart
  </pre>


  <div class="">
    <%= line "line_id", @lineSize, @lineData %>
    <%= line "line_id2", @lineSize, @lineData %>
    <%= line "line_id3", @lineSize, @lineData %>
  </div>

  <pre class="brush: ruby">
    // simple line chart
  </pre>


  <div class="">
    <%= pie :pie_id, @pieSize, @pieData %>
  </div>

  <pre class="brush: ruby">
    // simple line chart
  </pre>


  <div class="">

    <%= radar "radar_id", @radarSize, @radarData %>
  </div>

  <pre class="brush: ruby">
    // simple line chart
  </pre>


</div>
