<div class="ribbon right red">
  <a href="http://github.com/ytbryan/chart">Fork me on GitHub</a>
</div>

<div class="">
  <%= bar "something", @size1, @data %>
  <%= bar "somethingelse", @size,  @data %>
  <%= bar "somethingelse2", @size2,  @data %>
  <%= bar "somethingelse3", @size1,  @data %>
  <%= bar "somethingelse5", @size0,  @data %>
</div>

<div class="">
  <%= line "line_id", @lineSize, @lineData %>
  <%= line "line_id2", @lineSize, @lineData %>
  <%= line "line_id3", @lineSize, @lineData %>
  <%= line "line_id4", @lineSize, @lineData %>
  <%= line "line_id5", @lineSize, @lineData %>
  <%= line "line_id6", @lineSize, @lineData %>
</div>


<div class="">
  <%= pie "pie_id", @pieSize, @pieData %>
  <%= pie "pie_id2", @pieSize, @pieData%>
  <%= pie "pie_id3", @pieSize, @pieData%>
  <%= pie "pie_id4", @pieSize, @pieData%>
  <%= pie "pie_id5", @pieSize, @pieData%>
  <%= pie "pie_id6", @pieSize, @pieData%>
</div>

<div class="">
  <%= radar "radar_id", @radarSize, @radarData %>
  <%= radar "radar_id2", @radarSize, @radarData%>
  <%= radar "radar_id3", @radarSize, @radarData%>
  <%= radar "radar_id4", @radarSize, @radarData%>
  <%= radar "radar_id5", @radarSize, @radarData%>
  <%= radar "radar_id6", @radarSize, @radarData%>
</div>
